* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fbca43;
}

.send-kudos {
  background-color: #fbca43;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-content {
  display: flex;
  margin-top: 20px;
}

.left-panel,
.right-panel {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
}

.left-panel {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rank-info {
  text-align: center;
  margin-bottom: 30px;
}

.rank-title,
.score-title {
  font-size: 18px;
}

.rank-value,
.score-value {
  font-size: 36px;
  font-weight: bold;
  color: #fbca43;
}

#top-sender {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incoubable {
  display: flex;
  justify-content: center;
}

.top-sender img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0;
}

.top-sender-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.right-panel {
  flex: 2;
}

.kudos-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

#date-range {
  font-size: 14px;
  color: #888;
}

.kudos-list {
  list-style: none;
}

.kudos-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #333;
}

.rank {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.username {
  color: #888;
  margin-right: auto;
  margin-left: 10px;
}

.kudos {
  font-size: 18px;
}
